.details-tooltip {
    width: 39px;
height: 63px;
    color: #FFF;
    text-align: center;
    font-size: 7px;
    font-weight: 500;
    line-height: 24px;
    background: #E60000;
    padding: 5px;
    border-radius: 4px;
  }
  
  .details-details {
    color: #FFFFFF;
    margin: 0;
  }
  