.details-tooltip {
  color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  font-size: 7px;
  background-color: #E60000;
  color: #333;
  // width: 39px;
  // height: 63px;
  line-height: 24px;
  text-align: center;
  }
  
  .details-details {
    color: #FFFFFF;
    margin: 0;
   
  }
  .tooltip-value {
    margin: 0;
  }
  