
.responsive-container{
    border-radius: 5px;
    background: #F00;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.02);
    width: 258px;
    height: 263px;  
}
.titre-session{
    color: #FFF;
    line-height: 24px; 
    font-size: 15px;
    font-weight: 500;
    opacity: 0.504;   
    padding: 29px 34px;
    text-align: left;
 



}
