.home{
    width: 1440px;
    height: 1024px;
    margin: 5rem;

    .red-text {
        color: red;
      }     
}

.home-container{
  display: flex;
  justify-content: space-around;
 

}
.home-objectif{
  display: flex;
  gap: 50px;
}