.home-container {
  margin: 4rem 10rem;
  width: 1440px;
 
  padding: 0 6rem; 
  display: flex;
  flex-direction: column;
 



  .red-text {
    color: red;
  }
.text-home{
  color: #000;
  font-family: Roboto;
  font-size: 48px;
  font-weight: 500;

} 

.home-content {
  display: flex;

  gap: 40px;
  margin-top: 30px;
 
}

.home-activity {
  display: flex;
  margin-top: 2rem; 
}

.home-main {
 
  margin-top: 1rem; 
}
}